@model DataLayer.Users
@{
    ViewBag.Title = "ForgotSuccess";
}

<div class="alert alert-success">
    <h3 class="text-center"><strong> @Model.UserName </strong>عزیز  </h3>
    <p class="text-center"> ایمیل حاوی لینک بازیابی کلمه عبور به ایمیل <strong>  @Model.Email  </strong>  ارسال شد. لطفا وارد ایمیل شوید و روی لینک کلیک  کنید. </p>
</div>

