@model IEnumerable<DataLayer.Products>

<section class="last-products">
    <h3> جدیدترین محصولات </h3> <a href="/Archive"> آرشیو </a>
    <article>
        @foreach (var item in Model)
        {
           @Html.Partial("_Product",item)
        }
        <div class="clearfix"></div>
    </article>
</section>