@model IEnumerable<DataLayer.ViewModels.ShopCartItemViewModel>

@if (Model.Any())
{
    <section class="border-radius basket-side">
        <span class="text-center span-title">سبد خرید</span>
        <hr class="hr-articl"/>
        <article>
            <ul>
                @foreach (var item in Model)
                {
                    <li>
                        <img class="border-radius" src="~/Images/ProductImages/Thumbnail/@item.ImageName">
                        <div class="left-basket">
                            <a href="">@item.Title <span class="border-radius"> @item.Count </span></a>
                        </div>
                    </li>
                }
               
            </ul>
            <a href="" class="show-basket-button border-radius">مشاهده سبد خرید</a>
        </article>
    </section>
}
